<section class="st-terms">
  <div class="st-terms__intro">
    <p><strong>SANTORINI – FENISE S.A.S.</strong> por medio del presente informa a sus clientes los términos y condiciones más relevantes frente a las políticas de cambio, garantías y devoluciones de los productos adquiridos de manera presencial y/o virtual, el documento completo se encuentra disponible a través de la página web http://www.santorini.com.co/.</p>

    <p>Los clientes de <strong>SANTORINI</strong> podrán interponer peticiones, quejas o reclamos en la página web https://santorini.com.co/servicio/, a través de los correos electrónicos juridica@santorini.com.co, servicioalcliente@santorini.com.co y WhatsApp 321-9678190; así mismo, podrán presentar las solicitudes de manera física en horario de lunes a viernes de 10:00am a 07:00pm en las tiendas autorizadas para tal fin.</p>

    <p><strong>DERECHOS DE LOS CLIENTES:</strong> a. Recibir protección contra la publicidad engañosa; b. Obtener información completa, veraz, transparente, oportuna, verificable, comprensible, precisa e idónea respecto de los productos que ofrece <strong>SANTORINI</strong>; c. Derecho a reclamar directamente ante <strong>SANTORINI</strong> y obtener reparación integral, oportuna y adecuada de todos los daños sufridos, cuando estos son imputables a <strong>SANTORINI</strong>; d. Y los demás derechos que se encuentren en la página web de conformidad con las normas de protección al consumidor.</p>

    <p><strong>DEBERES DE LOS CLIENTES:</strong> Son deberes de los clientes: i. Informarse respecto de la calidad, instrucciones, uso, conservación e instalación de los productos; ii. Obrar de buena fe frente a los productores, proveedores y autoridades; iii. Cumplir con las normas de reciclaje y disposición de desechos de bienes consumidos; y iv. Entregar los productos limpios en caso de solicitud de estudio garantía.</p>
  </div>

  <div class="st-terms__box">
    <div class="st-terms__tabs" role="tablist">
      <button class="st-terms__tab is-active" type="button" role="tab" aria-selected="true" data-tab-target="st-terms-panel-1">POLÍTICA DE GARANTÍA</button>
      <button class="st-terms__tab" type="button" role="tab" aria-selected="false" data-tab-target="st-terms-panel-2">POLÍTICA DE RETRACTO</button>
      <button class="st-terms__tab" type="button" role="tab" aria-selected="false" data-tab-target="st-terms-panel-3">POLÍTICA DE CAMBIO</button>
      <button class="st-terms__tab" type="button" role="tab" aria-selected="false" data-tab-target="st-terms-panel-4">POLÍTICA DE DEVOLUCIONES</button>
      <button class="st-terms__tab" type="button" role="tab" aria-selected="false" data-tab-target="st-terms-panel-5">POLÍTICA DE ENVÍO</button>
      <button class="st-terms__tab" type="button" role="tab" aria-selected="false" data-tab-target="st-terms-panel-6">INFORMACIÓN RELEVANTE</button>
    </div>

    <div class="st-terms__content">
      <div id="st-terms-panel-1" class="st-terms__panel is-active" role="tabpanel">
        <p><strong>GARANTÍA:</strong> <strong>SANTORINI</strong> independientemente de la modalidad de la compra, responderá por la calidad, idoneidad, seguridad, buen estado y funcionamiento de los productos adquiridos por los clientes, quienes tendrán un término de sesenta (60) días calendario contados a partir de la fecha de la expedición de la factura de venta para realizar la respectiva reclamación. <strong>SANTORINI</strong> únicamente responderá si el defecto o daño del producto es atribuible al fabricante o proveedor.</p>

        <p><strong>EXCLUSIÓN DE LA GARANTÍA:</strong> <strong>SANTORINI</strong> no otorga garantía cuando: a. El desgaste o ruptura de materiales normal u ocasionados por el uso indebido del producto; b. Manchas ocasionadas por la limpieza inadecuada o las producidas por líquidos y productos diferentes a los sugeridos por la marca; c. Dar uso al producto diferente a la naturaleza de este; y d. Las demás que se encuentren establecidas en la página web de <strong>SANTORINI</strong> y que no le sean atribuible a <strong>SANTORINI</strong>.</p>

        <p><strong>SOLICITUD DE GARANTÍA:</strong> El cliente determina si presenta la solicitud de manera física o electrónica, para lo cual deberá identificarse y especificar; la falla, error o defecto que presuntamente presenta el producto y las circunstancias de tiempo, modo y lugar en que se presentó la misma. Se aclara, al cliente que el hecho de que solicite la garantía entregando el producto en nuestras tiendas <strong>SANTORINI</strong> no quiere decir en ningún momento que se le otorgará la garantía, ya que esta procede una vez sea examinada y determinada la falla. Dicha solicitud será resuelta en un término máximo de 15 días hábiles, según la normativa colombiana.</p>
      </div>

      <div id="st-terms-panel-2" class="st-terms__panel" role="tabpanel">
        <p><strong>DERECHO DE RETRACTO:</strong> De conformidad con la Ley 1480 de 2011 el cliente puede hacer uso de este derecho dentro de los cinco (5) días hábiles contados a partir de la entrega del bien, para lo cual, <strong>SANTORINI</strong> informa al cliente que este derecho aplica <strong>únicamente para las ventas online o en línea</strong>. El consumidor deberá devolver el producto por los mismos medios y en las mismas condiciones en que lo recibió. Los costos de transporte y los demás que conlleve la devolución del bien serán cubiertos por el consumidor. <strong>SANTORINI</strong> devolverá al cliente todas las sumas pagadas sin que proceda a hacer descuentos o retenciones por concepto alguno diferente al transporte. En todo caso la devolución del dinero al

consumidor no podrá exceder de treinta (30) días calendario desde el momento en que ejerció el derecho. Todo producto que sea de uso personal o que se haya fabricado bajo solicitud del cliente, se verá excepcionado de esta disposición.</p>
      </div>

      <div id="st-terms-panel-3" class="st-terms__panel" role="tabpanel">
        <p><strong>POLÍTICAS DE CAMBIO</strong>: El cliente podrá solicitar a <strong>SANTORINI</strong> el cambio de los productos en un plazo máximo de treinta (30) días calendario contados a partir de la fecha de compra, siempre y cuando los mismos no hayan sido usado o no muestre señales de desgaste de ningún tipo. Respecto de los productos que se encuentran en promoción, oferta o descuento el cambio del producto se realizara por otra talla o color de la misma referencia. Se debe tener en cuenta que el cambio está sujeto a disponibilidad del producto, si no existe el producto se genera un bono por el valor pagado. El cambio del producto se realizará por una única vez.</p>
      <p><strong>CAMBIO DE PRODUCTOS COMO DECISIÓN COMERCIAL</strong>: Los cambios hacen parte de una decisión comercial del fabricante o proveedor y en NINGÚN caso, el cambio significa otorgamiento de garantía. El Fabricante ha dispuesto los siguientes parámetros para el cambio de productos que no hayan sido usados ni muestre señales de desgaste de ningún tipo; En caso de requerir cambio del producto por talla, color y/o modelo, se debe presentar la solicitud dentro de los 30 días siguientes a la fecha de compra; Los productos de promoción, oferta y/o descuento, únicamente tienen cambio por talla o color; Se debe tener en cuenta que el cambio está sujeto a disponibilidad del producto, si no existe el producto se genera un bono por el valor pagado</p>
    <p><strong>NOTA</strong>: En caso de que la marca decida otorgar un cambio en razón a una solicitud de garantía no otorgada, por tratarse de un daño ocasionado por el mal uso del cliente o desatención a las instrucciones. El cambio se otorga únicamente como estrategia de fidelización y cuidado de cliente, caso en el cual la marca no está aceptando responsabilidad, por lo que a su vez no cubrirá los gastos de envío del producto cambiado</p>
    </div>

      <div id="st-terms-panel-4" class="st-terms__panel" role="tabpanel">
      <p><strong>DEVOLUCIÓN DE DINERO</strong>: La devolución de dinero solo será procedente en los siguientes casos: a. Cuando el defecto de fabricación no pueda ser corregido ni reemplazado por un producto de iguales o superiores características. b. Cuando una autoridad administrativa o judicial ordene la evolución del dinero

Cuando el consumidor ejerce el derecho de retracto de producto adquiridos por medios digitales
<strong>NO DEVOLUCIÓN DE DINERO</strong>: No se realizará la devolución del dinero en los siguientes casos: a. Cuando el producto esté deteriorado por el uso, mal manejo o factores externos. B. Cuando el fabricante posterior a la revisión técnica determine que el daño no corresponde a un defecto de fabricación, sino a causas externas. C. Cuando el consumidor desee ejercer el derecho de retracto, pero haya adquirido el producto de manera presencial.

<strong>SOLICITUD DE DEVOLUCIÓN</strong>: El consumidor deberá presentar su solicitud a través de los canales dispuestos para tal fin, enunciados al principio del presente documento, adjuntando factura de la compra y una descripción del motivo de la solicitud. El área encargada realizará el respectivo análisis y en un término de 15 días hábiles se dará respuesta que puede ser positiva o negativa. En caso de que procesa el reembolso, se realizará a través del mismo medio de pago utilizado en la compra o mediante otro mecanismo que se acuerde con el consumidor en un plazo de 30 días calendario.</p>
    </div>

      <div id="st-terms-panel-5" class="st-terms__panel" role="tabpanel">
        <p><strong>GASTOS DE ENVÍO E IMPUESTOS</strong>: Para las compras realizadas online o en línea, <strong>SANTORINI</strong> asumirá el costo del envío dentro del territorio colombiano de los productos que se encuentren disponibles en la página web y tengan un valor superior a $250.000 moneda legal.</p>
        <p>El cliente deberá asumir los costos del manejo y seguro de los productos y/o servicios que adquieran en www.santorini.com.co, así como de todos los impuestos sobre ventas, impuestos al valor agregado (IVA) e impuesto al consumo y gravámenes que se ocasionen por la compra del producto o servicio solicitado. Los impuestos causados por la compra serán liquidados desde el momento en que el cliente realice su pedido en este Sitio, y por tanto podrá conocer el valor exacto a pagar a favor de SANTORINI – FENISE S.A.S, el cual incluirá todos los conceptos mencionados.</p>
        <p>En caso de hacer efectivo su derecho a retracto, el consumidor se hará cargo de los gastos de envío y demás que se generen por la transacción.</p>
        <p>Para los casos en que sea otorgada garantía sobre cualquiera de nuestros productos, por corresponder el daño a una falla atribuible a la fabricación del producto adquirido los gastos de envío serán asumidos por <strong>SANTORINI</strong>.</p>
      
      </div>

      <div id="st-terms-panel-6" class="st-terms__panel" role="tabpanel">
        <p>Para garantizar una mejor experiencia con nuestros productos, en SANTORINI queremos que tenga en cuenta las siguientes condiciones importantes:

<strong>BONO: SANTORINI</strong> puede otorgar un bono por decisión comercial u otorgamiento de la garantía, para ello, el cliente debe contar con el bono físico y podrá redimirlo únicamente durante los 180 días calendario siguientes a su expedición. Se aclara que este bono es personal e intransferible y, en caso de pérdida o robo SANTORINI no se hace responsable.

<strong>CARACTERÍSTICAS DEL PRODUCTO Y RECOMENDACIONES DE USO</strong>: Todos los productos que

ofrece <strong>SANTORINI</strong> de manera presencial o virtual cuentan con las especificaciones e instrucciones de uso según el material del mismo que pueden ser consultados en <strong>http://www.santorini.com.co/</strong> o al respaldo de la factura entregada por la compra.

<strong>EXCLUSIÓN DE REPARACIONES</strong>: <strong>SANTORINI</strong> aclara a su clientela que no ofrece servicios de reparación para ningún producto, exceptuando aquellos que ingresen por garantía.

<strong>EXCLUSIÓN DE GARANTÍA PARA PRODUCTOS EN OFERTA SANTORINI</strong> informa que los productos adquiridos en promoción, oferta, rebaja y/o descuento no están cubiertos por garantía.

Esta exclusión se debe a que dichos productos pueden haber sido rebajados por razones como liquidación de inventario, cambios de colección o detalles menores en su fabricación que no afectan su funcionalidad, por lo que el consumidor los adquiere con el conocimiento de la exclusión de garantía.

El cliente acepta estas condiciones al momento de la compra y acepta que, para los productos antes mencionados, solo se aplicarán las políticas de cambio vigentes, limitándose exclusivamente al cambio por talla o color, sujeto a disponibilidad del producto</p>
      </div>
    </div>
  </div>

  <div class="st-terms__note">
    <strong>SI TIENE ALGUNA INQUIETUD, PUEDE CONTACTARNOS A TRAVÉS DE NUESTROS CANALES DE ATENCIÓN</strong>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.st-terms').forEach(section => {
      const buttons = section.querySelectorAll('.st-terms__tab');
      const panels = section.querySelectorAll('.st-terms__panel');

      buttons.forEach(btn => {
        btn.addEventListener('click', () => {
          const targetId = btn.getAttribute('data-tab-target');

          buttons.forEach(b => {
            b.classList.remove('is-active');
            b.setAttribute('aria-selected', 'false');
          });

          panels.forEach(p => p.classList.remove('is-active'));

          btn.classList.add('is-active');
          btn.setAttribute('aria-selected', 'true');

          const targetPanel = section.querySelector('#' + targetId);
          if (targetPanel) targetPanel.classList.add('is-active');
        });
      });
    });
  });
</script>

<style>
  .st-terms {
    background: #fff;
    color: #222;
    padding: 24px 20px 40px;
    font-family: "Montserrat", "Poppins", sans-serif;
  }

  .st-terms__intro {
    max-width: 1300px;
    margin: 0 auto 24px;
    font-size: 14px;
    line-height: 1.7;
    color: #333;
  }

  .st-terms__box {
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 260px 1fr;
    gap: 18px;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 16px 16px 20px;
  }

  .st-terms__tabs {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .st-terms__tab {
    background: #2f2f2f;
    color: #fff;
    border: none;
    text-align: left;
    padding: 12px 14px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 3px;
    font-size: 13px;
  }

  .st-terms__tab.is-active {
    background: #fff;
    color: #caa14a;
    border: 1px solid #e5e5e5;
  }

  .st-terms__content {
    min-height: 300px;
    font-size: 14px;
    line-height: 1.7;
    color: #333;
  }

  .st-terms__panel { display: none; }
  .st-terms__panel.is-active { display: block; }

  .st-terms__note {
    max-width: 1300px;
    margin: 26px auto 0;
    text-align: center;
    font-size: 12px;
    color: #333;
  }

  @media (max-width: 900px) {
    .st-terms__box { grid-template-columns: 1fr; }
    .st-terms__tabs { flex-direction: row; flex-wrap: wrap; }
    .st-terms__tab { flex: 1 1 45%; text-align: center; }
  }
</style>
